<h1>Books</h1>
<p>Find me in app/views/lists/index.html.erb</p>

<!-- 投稿box -->
<h2>New book</h2>
<%= form_with model: @lists,url: '/show',method: :put do |f| %>
 <h4>title</h4>
 <%= f.text_field :本のタイトル %>

 <h4>body</h4>
 <%= f.text_area :感想 %>

 <%= f.submit 'Create Book' %>
<% end %>
